@media (max-width: 1200px) {
  .container {
    width: 950px;
  }
  .section {
    &__info {
      padding: 15px 0;
    }
    &__filters {
      gap: 148px;
    }
  }
  .form {
    &__input--services {
      width: 737px;
    }
  }
}

@media (max-width: 992px) {
  .container {
    width: 720px;
  }
  .section {
    &__filters {
      gap: 28px;
    }
  }
  .form {
    &__inputs {
      column-gap: 14px;
    }
    &__input {
      width: 340px;
    }
    &__input--services {
      width: 100%;;
    }
    &__bank-account {
      column-gap: 14px;
    }
  }
}

@media (max-width: 768px) {
  .container {
    width: 540px;
  }
  .header {
    &__buttons {
      display: none;
    }
    &__burger {
      display: flex;
    }
  }
  .pop-up {
    &__wrapper {
      width: 540px;
    }
  }
  .section {
    &__filters {
      width: 204px;;
      flex-wrap: wrap-reverse;
      gap: 10px;
    }
  }
  .form {
    &__input {
      width: 250px;
    }
    &__input--services {
      width: 100%;
    }
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
  .pop-up {
    padding: 0 10px;
    &__wrapper {
      width: 100%;
    }
  }
  .form {
    &__input {
      width: 100%;
    }
  }
}

@media (max-width: 480px) {
  .section {
    &__wrapper {
      flex-direction: column;
      gap: 15px;
    }
  }
}