@import '../../styles/variables.scss';

.section {
  position: relative;
  margin: 0 auto;
  margin-top: 15px;
  max-width: 1200px;
  &__info {
    padding: 15px;
    background-color: $blue;
    user-select: none;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  &__search {
    height: 30px;
    border: 2px solid $white;
    border-radius: 10px;
    background-color: transparent;
    padding: 0 10px;
    outline: none;
    caret-color: $white;
    color: $white;
    font-size: 15px;
    &::placeholder {
      color: $white;
    }
  }
  &__button {
    padding: 10px;
    border: 2px solid $white;
    margin-right: 4px;
    background-color: $blue;
    color: $white;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s ease;
    &:first-child {
      border-radius: 10px 0 0 10px;

    }
    &:last-child {
      border-radius: 0 10px 10px 0;
      margin-right: 0;
    }
    &:hover {
      transition: all .3s ease;
      transform: scale(1.05);
      background-color: rgba($white, .3);
    }
    &--active {
      background-color: $white;
      color: $black;
      cursor: auto;
      &:hover {
        transform: none;
        background-color: $white;
      }
    }
  }
  &__open {
    margin-top: 10px;
    padding: 10px;
    background-color: $blue;
    cursor: pointer;
    &-line {
      display: block;
      margin: 0 auto;
      margin-top: 2px;
      height: 1px;
      width: 100px;
      background-color: $white;
    }
  }
}
