@import '../../styles/variables.scss';

.section {
  position: relative;
  margin: 0 auto;
  margin-top: 15px;
  max-width: 1200px;
  &__info {
    margin-top: 15px;
    padding: 15px;
    background-color: $blue;
    user-select: none;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__filters {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 238px;
  }
  &__search {
    width: 220px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: $white;
    padding: 0 10px;
    outline: none;
    font-size: 15px;
  }
  &__categories {
    width: 220px;
    height: 30px;
    border-radius: 10px;
    background-color: $white;
    padding: 0 10px;
    outline: none;
    font-size: 15px;
    cursor: pointer;
  }
}
