@import '../../styles/variables.scss';

.admin {
  &-header{
    margin: 0 auto;
    border: 3px solid $blue;
    max-width: 1200px;
    border-radius: 15px 15px 0 0;
    user-select: none;
    &__wrapper {
      height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__buttons {
      height: 100%;
      display: flex;
      align-items: center;
    }
    &__button {
      padding: 10px;
      color: $black;
      background-color: lighten($blue, 35%);
      font-size: 15px;
      border: 2px solid $blue;
      transition: all .3s ease;
      cursor: pointer;
      &:first-child {
        border-top-left-radius: 8px;
      }
      &--active {
        background-color: $white;
        color: $black;
        cursor: auto;
      }
      &--exit {
        border-top-right-radius: 8px;
        font-weight: 700;
      }
    }
  }
  &-section {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    &__info {
      margin-top: 10px;
      padding: 15px 0;
      border: 3px solid $blue;
      user-select: none;
    }
  }
  &-ad-list {
    margin-top: 10px;
    &__item {
      margin-bottom: 10px;
      padding: 10px;
      border: 3px solid $blue;
      border-radius: 15px;
    }
    &__buttons {
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__button {
      padding: 10px 0;
      width: 50px;
      color: $black;
      background-color: lighten($blue, 35%);
      font-size: 15px;
      border: 2px solid $blue;
      transition: all .3s ease;
      font-weight: 700;
      cursor: pointer;
      &:first-child {
        border-top-left-radius: 8px;
      }
      &:last-child {
        border-top-right-radius: 8px;
      }
    }
    &__text {
      margin-top: 10px;
      font-size: 15px;
      line-height: 20px;
      text-align: left;
    }
    &__contacts {
      margin-top: 10px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      column-gap: 25px;
      row-gap: 5px;
    }
    &__contact {
      font-size: 15px;
    }
    &__bold {
      font-weight: 700;
    }
  }
}